/* title-color #212121 
accent-color #2196F3
text-color #757575
background-main #ffffff
background-footer #2F303A
background-OurTeam #F5F4FA */
:root {
    --accent-color: #2196F3;
    --logo-studio-header: #000000;
    --logo-studio-footer: #ffffff;
    --title-color: #212121;
    --text-color: #757575;
    --background-main: #ffffff;
    --background-footer: #2F303A;
    --background-hero: #C4C4C4;
    --transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1, 
h2, 
h3, 
h4 {
    margin-top: 0;
    margin-bottom: 0;
}
ul, 
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height:auto;
}
button {
    cursor: pointer;
}

/*========== HEADER =========*/
.page-header-container {
    display: flex;
    align-items: baseline; 
}
.page-navigation {
    display: flex;
    align-items: baseline;
}
.page-header {
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 25px;
}
.menu-nav {
    display: flex;
    column-gap: 50px;
}
.header-contacts {
    display: flex;
    margin-left: auto;
    column-gap: 50px;
}
/*======== styles logo =======*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-header {
    margin-right: 96px;
}
.logo-web {
    color: var(--accent-color);
}
.logo-studio-header { 
    color: var(--logo-studio-header);
}
/* ======= navigation ======= */
.menu-nav a {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
    padding-bottom: 28px;
    transition: color var(--transition-timing-function);
}
.menu-nav a:hover, 
.menu-nav a:focus {
    color: var(--accent-color);
}
.menu-nav a.current {
    color: var(--accent-color);
}
.menu-nav a.current::after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    animation: opacity-animation var(--transition-timing-function);
}
@keyframes opacity-animation {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

/* ====== styles contacts =========*/
.contacts-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color var(--transition-timing-function);
}
.contacts-link:hover .mail-icon, 
.contacts-link:focus .mail-icon,
.contacts-link:hover .smartphone-icon, 
.contacts-link:focus .smartphone-icon{
    fill:var(--accent-color);
}
.contacts-link:hover,
.contacts-link:focus
{
    color: var(--accent-color);
}
.mail-icon {
    width: 16px;
    height: 12px;
    fill: var(--text-color);
    transition: fill var(--transition-timing-function);
}
.smartphone-icon {
    width: 10px;
    height: 16px;
    fill: var(--text-color); 
    transition: fill var(--transition-timing-function);
}
/* ============ MAIN ============ */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
body {
    background-color: var(--background-main);
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
}
section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/*=========== HERO ============*/
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    min-width: 1200px;
}
.overlay {
    background-color: var(--background-hero);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgstudio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.title-hero {
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    width: 696px;
}
.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: #ffffff;
    background-color: var(--accent-color);
    border: 0;
    border-radius: 4px;
    padding: 10px 32px;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*========== ОСОБЛИВОСТІ ============*/
.feature-items-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.feature-items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}
.feature-items-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-section {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.title-invisible {
    position: absolute;
    border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
    margin: -1px;
	overflow: hidden;
	padding: 0;
	white-space: nowrap;
}
.subtitle {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.text {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--text-color);
    width: 270px;
}
/*========== ЧИМ МИ ЗАЙМАЄМОСЯ ======*/
.activity {
    padding-top: 0px;
}
.activity-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;   
}
.activity-cards-item {
    position: relative;
}
.activity-cards-subtitle {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
/*========== НАША КОМАНДА ===========*/
.our-team {
    background-color: #F5F4FA;
}
.employees {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.employees-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.employee, .career {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em; 
}
.employee {
    font-weight: 500;
    color: var(--title-color);
    padding-top: 30px;
    margin-bottom: 10px;
}
.career {
    color: var(--text-color);
    margin-bottom: 16px;
}
.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding-bottom: 30px;
}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color var(--transition-timing-function);
}
.social-list-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill var(--transition-timing-function);
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon{
    fill: #ffffff;
} 
/* ========== ПОСТІЙНІ КЛІЄНТИ ======== */
.clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition: border-color var(--transition-timing-function);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon{
    fill: var(--accent-color);
}
.clients-link:hover,
.clients-link:focus{
    border-color: var(--accent-color);
    cursor: pointer;
}
.clients-icon {
    display: flex;
    fill: #AFB1B8; 
    transition: fill var(--transition-timing-function);
}
/*========== ПОРТФОЛІО ========= */
.btn-filter-container {
    margin-bottom: 50px;
}
.button-filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    background-color: #F5F4FA;
    height: 38px;
    padding: 6px 22px;
    transition: background-color var(--transition-timing-function), color var(--transition-timing-function), box-shadow var(--transition-timing-function);
}
.btn-filter-allcards {
    padding-left: 25px;
    padding-right: 25px;
}
.button-filter:hover, 
.button-filter:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.portfolio-container li{
    width: 370px;
}
.text-portfolio-card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px; 
    border: 1px solid #EEEEEE;
    border-top: 0px;
}
.title-portfolio {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--title-color);
}
.text-portfolio {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.btn-filter-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio-card {
    display: block;
    transition: box-shadow var(--transition-timing-function);
}
.portfolio-card:hover,
.portfolio-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card:hover .portfolio-card-overlay ,
.portfolio-card:focus .portfolio-card-overlay {
    transform: translateY(0%);
}
.portfolio-card-item {
    position: relative;
    overflow: hidden;
}
.portfolio-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    overflow: auto;
    padding: 63px 24px;
    transform: translateY(101%);
    transition: transform var(--transition-timing-function);
}
/*========== FOOTER ===========*/
.footer {
    background-color: var(--background-footer);
    padding-top: 60px;
    padding-bottom: 60px;
    min-width: 1200px;
}
.logo-studio-footer {
    color: var(--logo-studio-footer);
}
.logo-footer {
    display: block;
    margin-bottom: 20px;
}
.contacts-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.contacts-item:not(:last-child) {
    margin-bottom: 9px;
}
.address {
    display: block;
    color: #ffffff;
    transition: color var(--transition-timing-function);
}
.mail-footer, 
.phone-footer {
    color: rgba(255, 255, 255, 0.6);
    display: block;
    transition: color var(--transition-timing-function);
}
.address:hover,
.address:focus,
.mail-footer:hover,
.mail-footer:focus,
.phone-footer:hover,
.phone-footer:focus {
    color: var(--accent-color);
}
.title-social {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.contacts-block {
    display: flex;
    align-items: baseline;
}
.social-list-footer {
    padding-bottom: 0;
}
footer .social-list-icon {
    fill: #ffffff;
}
footer .social-list-link {
    background-color: rgba(255, 255, 255, 0.1);;
}
.social-footer {
    margin-left: 70px;
}
.form-sign {
    margin-left: auto;
}
.form-sign-email-input {
    display: flex;
    justify-content: center;
}
.btn-sign {
    display: flex;
    justify-content: center;
    width: 200px;
    align-items: center;
    margin-left: 12px;
    padding: 10px 28px;
}
.icon-send {
    margin-left: 10px;
}
.input-sign {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    padding: 15px 16px;
    color: #FFFFFF;
}
.input-sign::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/*  ======== МОДАЛЬНЕ ВІКНО ======== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 48, 58, 0.4);
    z-index: 100;
    transition: opacity 500ms linear, visibility 500ms linear, transform 500ms linear;
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #ffffff;
    width: 528px;
    height: 581px;
    padding: 40px;
}
.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
}
.modal-close-icon {
    fill: #000000;
    transition: fill var(--transition-timing-function);
}
.modal-close-btn:hover .modal-close-icon {
    fill: var(--accent-color);
}
/* ======== modal form ===== */
.modal-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 12px;
}
.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-form-input {
    outline: none;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
    padding-left: 42px;
    transition: border-color var(--transition-timing-function);
}
.modal-form-input:focus {
   border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-form-icon {
    fill: var(--accent-color);
}

.modal-form-field-description {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
    margin-bottom: 4px;
}
.modal-form-field {
    margin-bottom: 10px;
}
.modal-form-input-wrapper {
    position: relative;
}
.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--transition-timing-function);
}
.modal-form-textarea {
    margin-bottom: 20px;
}
.modal-form-message {
    resize: none;
    outline: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    transition: border-color var(--transition-timing-function);
}
.modal-form-message:focus {
    border-color: var(--accent-color);
}
.modal-form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-form-checkbox-field {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-form-own-checkbox {
    width: 16px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid var(--title-color);
    cursor: pointer;
    margin-right: 7px;
    transition: box-shadow var(--transition-timing-function);
}
.modal-form-checkbox-icon {
    display: none;
}
.modal-form-checkbox:checked + .modal-form-own-checkbox {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
.modal-form-checkbox:checked + .modal-form-own-checkbox .modal-form-checkbox-icon {
    display: block;
}
.modal-form-checkbox:focus + .modal-form-own-checkbox{
    box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5);
}
.modal-form-checkbox {
    position: absolute;
    appearance: none;
}
.modal-form-checkbox-field {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.modal-form-link-terms {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.button-submit {
    width: 200px;
    align-self: center;
}










