.page-header__container {
    display: flex;
    align-items: baseline; 
}

.page-header {
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 25px;
}

.page-navigation {
    display: flex;
    align-items: baseline;
}

.menu {
    display: flex;
    column-gap: 50px;
}
.header-contacts {
    display: flex;
    margin-left: auto;
    column-gap: 50px;
}