.header-contacts {
    display: flex;
    margin-left: auto;
    column-gap: 50px;
}
.header-contacts__link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color var(--transition-timing-function);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.mail-icon {
    width: 16px;
    height: 12px;
    fill: var(--text-color);
    transition: fill var(--transition-timing-function);
    .header-contacts__link:hover &, 
    .header-contacts__link:focus & {
        fill:var(--accent-color);
    }
}
.smartphone-icon {
    width: 10px;
    height: 16px;
    fill: var(--text-color); 
    transition: fill var(--transition-timing-function);
    .header-contacts__link:hover &, 
    .header-contacts__link:focus & {
        fill:var(--accent-color);
    }
}